<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.fuin.org/xsample/XSampleDsl" 
       class = "org.fuin.xsample.xSampleDsl.XSampleDslPackage"
       genModel = "model/generated/XSampleDsl.genmodel" /> 
	
  </extension>



</plugin>
